
  /* document */
  .tm-document {
    ::-webkit-scrollbar-thumb {
      background-color: #484848;
      box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
      &:hover { background-color: #555555 }
      &:window-inactive { background-color: #363636; box-shadow: none }
    }

    > .toolbar {
      background-color: #393939;
      button { background-color: #393939; color: #a5a5a5 }
      button:hover { background-color: #555555; color: #fafaf5 }
      button.active { color: #fafaf5 }
      .route { background-color: #282828 }
      .route a:hover { color: #7fcfff }
    }

    > .catalog { background-color: #363636 }

    .scrolled { box-shadow: inset 0em 4px 4px -4px #181915 }

    .tm-doc {
      color: #fafaf5;
      background-color: #282828;

      blockquote {
        color: #c6cbd1;
        border-left-color: #c0c0c0;
        background-color: #3d3d3d;
        &.r { border-left-color: #F92672; background-color: #423939 }
        &.g { border-left-color: #96E22E; background-color: #394239 }
        &.b { border-left-color: #66D9EF; background-color: #393942 }
      }

      .usage blockquote {
        border-color: #2D2F3F !important;
        background-color: #393942;
        &:not(:last-child) { border-bottom-color: #393952 }
        &:not(:first-child) { border-top-color: #393952 }

        > span:first-child {
          color: #e1e4e8;
          em { color: #9697a8 }
        }
      }

      pre { background-color: #202020 }
      h1 { border-bottom: 4px solid #454545 }
      h2 { border-bottom: 2px solid #454545 }
      hr { border-bottom: 1px solid #202020; background-color: #282828 }
      
      table {
        th, td { border: 1px solid #a0a0a0 }
        tr { background-color: #282828; border-top: 1px solid #a0a0a0 }
        tr :nth-child(2n) { background-color: #202020 }
      }

      a { color: #7fcfff }
      img { background-color: transparent }
      code { background-color: #3d3d3d }
      span.comment { color: #c6cbd1 }

      .codeblock {
        background-color: #383933;
        &::-webkit-scrollbar-thumb {
          background-color: #555555;
          box-shadow: inset 0 0 4px rgba(0,0,0,0.5);
          &:hover { background-color: #616161 }
          &:window-inactive { background-color: #353535; box-shadow: none }
        }
      }
    }
  }
